.calculadora{
    display: block;
    margin:10px auto;
    padding: 20px;
    background-color: rgb(80, 80, 82);
    width: 400px;
    height: 600px;
    border-radius: 25px;
    
}
.calculadora td button{
    display:block;
    width: 70px;
    height: 70px;
    font-size: 25px;  
    padding: 20px; 
    margin: 7px;
    cursor: pointer;
}
#resultado{
    display: block;
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
    width: 350px;
    height: 100px;
    line-height: 100px;
    background-color: aliceblue;
    border-radius: 25px;
    overflow: inherit
}
.calculadora td button:hover{
    box-shadow: 5px 5px rgba(0, 0, 0, 0.4);
    transform: translateY(-4%)
}